{{ define "main" }}
<main class="bg-neutral-900 text-white -mt-16">
  <!-- big hero -->
  <div class="{{.Params.Hero.Bg}} h-lvh flex flex-col justify-center">
    <div class="max-w-screen-xl px-4 mx-auto">
      <div class="px-4 text-center sm:mb-6 lg:mb-0">
        <h2 class="mx-auto pb-10 text-4xl text-right font-normal md:text-8xl md:pb-10">
          {{ .Title }}
        </h2>
        <p class="float-right max-w-3xl mb-6 text-right font-light text-2xl md:mb-2 md:text-4xl">
          {{ .Description | markdownify }}
        </p>
      </div>
    </div>

    <!-- scroll arrow -->
    <div  x-data="{arrow: {}}"
          x-init="arrow = $arrow"
          x-on:scroll.window="arrow = $arrow"
          :class="{'hidden': arrow.hidden}"
          :style="{'bottom': arrow.bottom + 'rem'}"
          class="absolute inset-x-0 bottom-14">
      <a href="#{{.Params.Hero.JumpTo}}" @click.prevent="scrollTo('#{{.Params.Hero.JumpTo}}')">
        <img  src="/images/down-arrow.svg"
              :style="{'opacity': arrow.opacity}"
              class="mx-auto h-10 md:h-16" />
      </a>
    </div>
  </div>

  {{ range .Params.Sections }}
    <div class="section" id="{{ .id }}">
      <div class="max-w-screen-xl mx-auto flex flex-col gap-2 px-4 py-14 text-center md:flex-row md:gap-20">
        <div class="flex flex-col flex-1 mb-10 md:justify-center md:mb-0">
          <h3 class="font-semibold text-center text-3xl pb-8 md:text-6xl">
            {{ .title }}
          </h3>
          <p class="flex flex-col flex-1 gap-6 text-1xl md:text-2xl md:gap-10 md:pt-6 md:pb-8">
            {{ .content }}
          </p>
        </div>
      </div>
    </div>
  {{ end }}

</main>
{{ $js := resources.Get "js/arrow.js" | js.Build }}
<script src="{{ $js.RelPermalink }}" defer></script>
{{ end }}

