{{ define "main" }}
<main class="bg-neutral-900 text-white">
  <!-- big hero -->
  <div class="bg-neutral-900">
    <div class="max-w-screen-xl px-4 py-20 mx-auto md:py-36">
        <div class="px-4 text-center sm:mb-6 lg:mb-0">
          <h2 class="mx-auto pb-10 text-5xl font-normal md:text-8xl md:pb-10">
            {{ .Site.Params.Motto }}
          </h2>
          <p class="max-w-xl mx-auto mb-6 font-light text-2xl md:mb-2 md:text-3xl">
            {{ .Site.Params.Description }}
          </p>
        </div>
    </div>
  </div>

  <!-- mission statement -->
  <div class="bg-primary-700">
    <div class="max-w-screen-xl mx-auto flex flex-col gap-2 px-4 py-14 text-center md:flex-row md:gap-20">
      <div class="flex flex-col flex-1 mb-10 md:justify-center md:mb-0">
        <div>
          <h2 class="pb-10 text-4xl font-normal md:text-6xl md:pb-14">
            {{ .Site.Params.Sections.Mission.Heading }}
          </h2>
          <p class="font-normal md:text-2xl">
            {{ .Site.Params.Sections.Mission.Content }}
          </p>
        </div>
      </div>
      <div class="flex flex-col flex-1 gap-6 md:gap-10 md:pt-6 md:pb-8">
        {{ range .Site.Params.Sections.Mission.Columns }}
        <div>
          <h3 class="pb-6 text-2xl font-normal md:pb-4 md:text-left">
            {{ .heading }}
          </h3>
          <p class="font-normal md:text-left md:text-xl md:font-light">
            {{ .content }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <!-- services -->
  <div class="bg-neutral-900">
    <div class="max-w-screen-xl px-4 py-20 mx-auto text-center md:px-10">
      <h2 class="mx-auto pb-12 text-4xl font-normal md:text-6xl md:pb-20">
        {{ .Site.Params.Sections.Services.Heading }}
      </h2>
      <div class="flex flex-col gap-8 md:flex-row md:gap-20">
        {{ range .Site.Params.Sections.Services.Columns }}
        <div class="flex-1">
          <h3 class="pb-6 text-2xl font-normal md:text-left">
            {{ .heading }}
          </h3>
          <p class="font-normal md:text-left md:text-xl md:font-light">
            {{ .content }}
          </p>
        </div>
        {{ end }}
      </div>
    </div>
  </div>

  <!-- from the blog -->
  <div class="bg-white text-neutral-900">
    <div class="max-w-screen-xl px-4 py-20 mx-auto text-center md:px-10">
      <h2 class="mx-auto pb-10 text-4xl font-normal md:text-6xl md:pb-16">
        From our blog
      </h2>
      <div class="flex flex-col gap-6 text-left mb-16 md:flex-row md:gap-12 md:mb-20">
        {{ range (.Paginator 2).Pages }}
        <div class="flex-1 p-8">
          <a href="{{ .Permalink }}">
            <h3 class="pb-2 text-2xl font-normal">
              {{ .Title }}
            </h3>
          </a>
          <p class="md:font-light md:text-xl">
            {{ .Summary | plainify | safeHTML }}
          </p>
          <a href="{{ .Permalink }}" class="text-xl font-normal mt-2 block">
            Read more..
          </a>
        </div>
        {{ end }}
      </div>
      <a href="/blog/" class="mx-auto bg-primary-600 px-10 py-4 rounded-full text-white text-2xl">
        View all posts
      </a>
    </div>
  </div>
</main>
{{ end }}
